.testimonial-section {
  padding: 80px 20px;
  text-align: center;
  background: #f9fafb;
}

.testimonial-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}
.testimonial-subtitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #141313;
}

.testimonial-card {
  background: #fff;
  padding: 30px 100px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 16px;
  text-align: left;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background 0.3s;
}

.swiper-slide-active .testimonial-card {
  background: #007bff;
  color: #fff;
  transform: scale(1.05);
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.testimonial-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.testimonial-header p {
  margin: 0;
  font-size: 14px;
  color: #007bff;
}

.swiper-pagination-bullets {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

.testimonial-message {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
}
